body {
  margin: 0;
  padding: 0;
  font-family: 'Karla', sans-serif;
  background-color: rgb(247, 247, 247);
  overflow: scroll;
  scrollbar-width: 50px;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-around;
  background-color: white;
  z-index: 1;
}
.main-header-div {
  position: sticky;
  top: 0;
  max-width: 1170px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.linkdin-logo-and-searchbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  height: 50px;
  flex: 40%;
}
.linkdin-header-logo {
  height: 35px;
}
.linkdin-header-logo img {
  height: 35px;
}
.search-input-and-logo svg {
  height: 16px;
}
.search-input-and-logo {
  display: flex;
  align-items: center;
  background-color: #ebf2fd;
  padding: 0 15px;
  height: 35px;
  border-radius: 6px;
}
.search-input-and-logo:focus-within {
  border: 1px solid black;
}
.search-input-and-logo input {
  transition: .2s;
  border: none;
  background-color: #ebf2fd;
  margin-left: 10px;
  width: 235px;
}
.search-input-and-logo input:focus-within {
  width: 300px;
  margin-left: 20px;
}
.search-input-and-logo input:focus-visible {
  outline: none;
}
.header-nav {
  display: flex;
  flex: 60%;
  justify-content: flex-end;
}
.left-nav-div {
  border-right: 1px solid rgba(129, 129, 129, 0.597);
  padding-right: 20px;
}
.left-nav-div ul {
  display: flex;
  flex-direction: row;
  gap: 25px;
  padding: 0;
  margin: 0;
}
.left-nav-div li {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}
.left-nav-div li span{
  position: absolute;
  top: 0;
  left: 35px;
  font-weight: 600;
  background-color: #cc1016;
  color: #fff;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.left-nav-div li a {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.597);
  font-size: 12px;
  text-decoration: none;
}
.left-nav-div li a h4{
  font-weight: 400;
  text-transform: capitalize;
  display: flex;
  flex-direction: row;
}
.left-nav-div li a:hover {
  color: #000;
}
.left-nav-div li a:focus-within {
  color: #000;
  border-bottom: 3px solid #000;
}
.left-nav-div li a img {
  height: 25px;
  border-radius: 50%;
}
.right-nav-div {
  margin-left: 20px;
  display: flex;
  align-items: center;
}
.right-nav-div ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 0;
  margin: 0;
}
.right-nav-div li {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}
.right-nav-div li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.597);
  text-decoration: none;
  font-size: 12px;
}
.right-nav-div li a h4{
  font-weight: 400;
  text-transform: capitalize;
}
.right-nav-div li a:hover {
  color: #000;
}
.right-nav-div li a h4 {
  display: flex;
  flex-direction: row;
  width: 100px;
}
.primium-link a {
  width: 50%;
  text-align: center;
  text-decoration: underline !important;
  color: rgb(165, 115, 20) !important;
}
.primium-link a:hover {
  color: #000 !important;
}
.main-contain{
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
}
.main-container{
  max-width: 1170px;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.id-card-and-community-div {
  flex: 20%;
  display: flex;
  flex-direction: column;
}
.id-card{
  width: 100%;
  background-color: #fff;
  text-align: center;
  border-radius: 8px;
  border: 1px solid #dadada;
}
.profile-dp-and-name-main {
  position: relative;
}
.profile-dp-and-name-top img{
  border-top-left-radius:8px;
  border-top-right-radius:8px;
}
.profile-dp img{
  height: 70px;
  border-radius: 50%;
  border: 2px solid #fff;
}
.profile-dp{
  position: absolute;
    top: -85px;
    left: 70px;
}
.profile-dp-and-name-main a{
  text-decoration: none;
}
.profile-dp-and-name-main h4{
  margin-top: 50px;
  color: #000;
  
}
.profile-dp-and-name-main h4:hover{
  text-decoration:underline #8c0ee6;
}
.profile-dp-and-name-main h6{
  color: #6b6b6b; 
  font-size: 12px;
  font-weight: 300;
  margin: 10px 0;
}
.connections-info{
  border-top: 1px solid #dadada;
}
.connections-info ul{
  list-style-type: none;
  padding-left: 0;
}
.connections-info li:hover{
  background-color: #e6e6e6;
}
.connections-info li a{
  text-decoration: none;
  color: #808080;
  font-size: 12px;
}
.connections-info li{
  padding:0 10px;
}
.connections-count1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.connections-count1 span{
  color: rgb(0, 121, 181);
}
.connections-count2{
  text-align: left;
  color: #000;
  padding-top: 3px;
}
.profile-viewed{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 0;
}
.profile-viewedp{
  font-size: 15px;
}
.profile-viewed span{
  color: rgb(0, 121, 181);
}
.access-tools{
  padding: 10px;
  border-top: 1px solid #dadada;

}
.access-tools:hover{
  background-color: #e6e6e6;
}
.access-tools a{
  text-decoration: none;
  color: #808080;
  font-size: 15px;
}
.access-tools a h5{
  font-weight: 300;
}
.access-tools-try-premium{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.access-tools-try-premium svg{
  height: 15px;
}
.access-tools-try-premium h4{
  font-size: 14px;
  text-decoration: underline;
  color: #000;
  font-weight: 400;
}
.access-tools-try-premium h4:hover{
  color: #0079b5;
}
.my-items{
  border-top: 1px solid #dadada; 
  padding: 6px;
  font-size: 14px;
}
.my-items:hover{
  background-color: #e6e6e6;
}
.my-items a{
  color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}
.community-div {
  width: 100%;
  background-color: #fff;
  text-align: center;
  border-radius: 8px;
  margin-top: 10px;
  border: 1px solid #dadada;
  position: sticky;
  top: 80px;
}
.community-div ul{
  border-bottom: 1px solid #dadada; 
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding: 10px;
}
.community-div ul li{
  margin-top: 15px;
}
.Events-li a{
  display: flex;
  justify-content: space-between;
}
.Events-li a svg{
  color: #000000a4;
}
.Events-li a svg:hover{
  color: #000;
}
.community-div ul a{
 text-decoration: none;
 color: rgb(0, 121, 181) ;
 text-align: left;
 font-size: 14px;
}
.community-div ul a:hover{
  text-decoration: underline;
}
.discover-more-div{
  padding: 10px;
  font-size: 15px;
  color: #808080;
}
.discover-more-div h4{
  font-weight: 400;
  
}
.share-post-box{
  flex: 48%;

}
.post-box-and-post-options{
  background-color: #fff;
  text-align: center;
  border-radius: 8px;
  border: 1px solid #dadada;
  padding: 15px;
}
.post-box{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.post-box img{
  height: 60px;
  border-radius: 50%;
  border: 2px solid #fff;
}
.post-button{
  width: 100%;
  margin-left: 10px;
}
.post-box input{
background-color: transparent;
border: 2px solid #d3d3d3;
width: 100%;
height: 60px;
border-radius: 50px;
text-align: left;
padding: 20px;
color:#00000099;
font-size: 16px;
font-weight: 500;
}
.post-box input:hover{
   background-color: #e6e6e6;
}
.post-options ul{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}
.post-options ul li{
  height: 40px;
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 8px 4px 8px;
}
.post-options ul li:hover{
  background-color:#e6e6e6 ;
  border-radius: 8px;
}
.post-options ul a{
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  color: #808080;
  text-decoration: none;
} 
.post-options ul a img{
  height: 25px;
}
.post-options ul a h4{
  font-weight: 400;

}
.short-by div{
  width: 80%;
}
.short-by button{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: none;
  background-color: transparent;
  width: 100%;
}
.short-by button h5{
  font-weight: 100;
}
.short-by button h5  select{
  border: none;
  background-color: transparent;
  outline: none;
}
.linkdin-news-and-premium-div{
  flex: 26%;
}
.linkdin-news{
  background-color: #fff;
  text-align: center;
  border-radius: 8px;
  border: 1px solid #dadada;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.linkdin-news-heading a svg{
  height: 10px;
  width: 10px;
  background-color: #000000c5;
  padding: 3px;
  border-radius: 5px;
}
.linkdin-news-heading{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
}
.linkdin-news-heading h3{
  font-weight: 400;
}
.news-main ul{
  list-style-type: none;
  padding: 0;
  text-align: start;
  margin: 0;
}
.news-main ul li{
  padding:0 15px;
  margin-bottom: 5px;
}
.news-main ul li:hover{
  background-color: #e6e6e6;
}
.news-main ul a{
  color: #000;
  text-decoration: none;
}
.news-main ul a h3  span{
  border-radius: 50%;
  display: inline-block;
  width: 3px;
  height: 3px;
  margin-right: 5px;
  border: 3px solid #0000009f;
}
.news-main ul a h3{
  font-size: 14px;
  font-weight: 500;
}
.news-main ul a h5{
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  color: #808080;
  font-size: 14px;
  font-weight: 300;
  margin-top: 5px;
}
.news-main ul a h5 ul{
  list-style-type: disc;
  padding: 0;
  margin-left: 20px;
}
.show-more-button{
  display: flex;
  flex-direction: row;
  padding: 5px;
  margin-left: 20px;
  align-items: center;
  color: #808080;
  width: 110px;
  border-radius: 6px;
  margin-bottom: 15px;
}
.show-more-button:hover{
 background-color: #e6e6e6;
}
.show-more-button svg{
  height: 15px;
}
footer{
  margin-top: 15px;
}
footer ul{
  justify-content:center;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 10px;
  padding: 0;
  margin: 25px;
}
footer li span{
  display: flex;
  align-items: center;
}
footer ul li a{
  text-decoration: none;
  color: #0000008b;
  font-size: 13px;
}
footer ul li a svg{
  height: 10px;
}
footer ul li a:hover{
  color: #0079b5;
  text-decoration: underline;
}
.linkedin-corpo{
  display: flex;
  justify-content: center;
}
.linkedin-corpo h5{
  font-weight: 400;
  margin-left: 6px;
}
.linkedin-corpo svg{
  fill: #0d5e91e5;
}
header{
  color: #dadada;
}
.message-box{
  display: flex;
  justify-content: flex-end;
  position: sticky;
  bottom:0;
  left: 100%;
  
}
.message-box-header{
  padding: 10px;
    background-color: #fff;
    text-align: center;
    border-radius: 8px;
    margin-top: 10px;
    border: 1px solid #dadada;
    position: sticky;
    bottom: 0;
    right: 0;
    width: 280px;
    height: 30px;
    display: flex;
}
.message-box-dp{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  position: relative;
  flex: 60%;
}
.message-box-dp img{
  height: 35px;
  border-radius: 50%;
}
.message-box-dp span{
  position: absolute;
  background-color: green;
  width: 8px;
  height: 8px;
  border: 2px solid #fff;
  border-radius: 50%;
  left: 25px;
  bottom: 0;
}
.message-box-dp h5{
  font-size: 16px;
  font-weight: 400;
}
.message-box-header-right{
  flex: 20%;
  flex: 20%;
  display: flex;
  align-items: center;
}
.message-box-header-right ul{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  gap: 10px;
}
.message-box-header-right ul li{
 
}
.message-box-header-right ul a{
  color: #808080;
}
.message-box-header-right ul a svg{
  fill: #808080;
  height: 20px;
}